@font-face {
    font-family: 'Font';
    src: url(../Fonts/MADE\ Kenfolg\ v2\ PERSONAL\ USE.otf) format('opentype');
}

.edit-icon{
    width: 20px;
    padding: 3px;
    border-radius: 10%;
    margin: 0%;
}

.dash-background{
    background-image: url(../Images/mountains.jpg);
    background-repeat: no-repeat;
}

.edit-icon:hover{
    transform: scale(1.1);
}


#pref{
    display: flex;
    justify-content: space-between;
}

.edit-icon-pref{
    width: 20px;
    padding: 3px;
    border-radius: 10%;
}

.edit-icon-pref:hover{
    transform: scale(1.1);
}

.edit-button{
    background-color: transparent;
    border: none;
    width: 5%;
    margin-right: 5%;
}

h2{
    display: flex;
    justify-content: space-between;
}

.picture-bio{
    display: flex;
    padding: 1vw;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 150px;
}

.profile-bear{
    display: flex;
    width: 20vw;
    margin-left: 100px;
    box-shadow: 0 0 30px #0000003d;
}

.bio-container{
    width: 60%;
    border: 1px solid rgba(0, 0, 0, 0.075);
    background-color: white;
    text-align: left;
    padding: 1vw;
    font-family: 'Font';
    width: 100%;
    box-shadow: 0 0 30px #0000003d;
}

.pref-listed{
    padding: 4vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 9000px;
    height: 542px;
    margin-top: 170px;
}

.preferences{
    border: 1px solid rgba(0, 0, 0, 0.048);
    background-color: white;
    text-align: left;
    padding: 1vw;
    font-family: 'Font';
    margin-left: 99px;
    width: 71%.5;
    height: 500px;
    box-shadow: 0 0 30px #0000003d;
}

.change-table{
    width: 60%;
    border: 1px solid rgba(0, 0, 0, 0.075);
    background-color: white;
    text-align: left;
    padding: 1vw;
    font-family: 'Font';
    width: 100%;
    box-shadow: 0 0 30px #0000003d;
    margin-top: 200px;
}

.pagination {
    display: inline-block;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.pagination button {
    color: rgb(0, 0, 0);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid rgba(221, 221, 221, 0.158);
    font-family: 'Font';
    box-shadow: 0 0 10px #0000003d;
    margin: 10px;
}

.display-pag{

}

.pagination button.active {
    background-color: rgba(70, 69, 69, 0.219);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.089);
}

.pagination button:hover:not(.active) {background-color: #ddd;}

.dashboard-container-main{
    display: flex;
    flex-direction: row;
}

.container-box {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: 50px 50px;
    grid-template-areas:
      'a b c d'
      'a e f f'
    ;
  }
  
  /* @media() */
  
  .saved-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .saved-card {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 60px;
    grid-template-rows: 10px 10px;
    grid-template-areas:
      'saved-img saved-title saved-button'
      'saved-img saved-price saved-button'
      'saved-img saved-condition saved-button'
    ;
    margin-bottom: 50px;
  }
  .saved-img {
      grid-area: saved-img;
  }
  .saved-title {
    grid-area: saved-title;
  }
  
  .saved-price {
    grid-area: saved-price;
  }
  .saved-condition {
    grid-area: saved-condition;
  }
  .saved-button {
    grid-area: saved-button;
  }
