@font-face {
    font-family: 'Font';
    src: url(../Fonts/MADE\ Kenfolg\ v2\ PERSONAL\ USE.otf) format('opentype');
}

.edit-icon{
    width: 20px;
    padding: 3px;
    border-radius: 10%;
    margin: 0%;
}

.dash-background{
    background-image: url(../Images/mountains.jpg);
    background-repeat: no-repeat;
    height: 50vh;
}

.edit-icon:hover{
    transform: scale(1.1);
}


#pref{
    display: flex;
    justify-content: space-between;
}

.edit-icon-pref{
    width: 20px;
    padding: 3px;
    border-radius: 10%;
}

.edit-icon-pref:hover{
    transform: scale(1.1);
}

.edit-button{
    background-color: transparent;
    border: none;
    width: 5%;
    margin-right: 5%;
}

h2{
    display: flex;
    justify-content: space-between;
}

.picture-bio{
    display: flex;
    padding: 1vw;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 150px;
}

.profile-bear{
    display: flex;
    width: 20vw;
    margin-left: 100px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.308);
}

.bio-container{
    width: 60%;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    text-align: left;
    padding: 1vw;
    font-family: 'Font';
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.308);
}

.pref-listed{
    padding: 4vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 9000px;
    height: 542px;
    margin-top: 170px;
}

.preferences{
    border: 1px solid black;
    background-color: white;
    text-align: left;
    padding: 1vw;
    font-family: 'Font';
    margin-left: 99px;
    width: 71%.5;
    height: 500px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.308);
}

.change-table{
    width: 60%;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    text-align: left;
    padding: 1vw;
    font-family: 'Font';
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.308);
}

.pagination {
    display: inline-block;
    display: flex;
    justify-content: space-around;
}

.pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-family: 'Font';
}

.pagination button.active {
    background-color: rgb(13, 87, 31);
    color: white;
    border: 1px solid rgb(13, 87, 31);
}

.pagination button:hover:not(.active) {background-color: #ddd;}

.dashboard-container-main{
    display: flex;
    flex-direction: row;
}

