@font-face {
    font-family: 'Font';
    src: url(./Fonts/Kalmansk-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'OakBearFont';
    src: url(./Fonts/LaborUnion-Small.otf) format('opentype');
}

.background{
    height: 98vh;
    background-image: url(../Images/camping.jpg);
    background-repeat: no-repeat;
}

.oak-bear-text{
    font-size: 150px;
    margin-top: 100px;
    color: white;
    font-family: 'OakBearFont';
}

.LoginBear{
    display: flex;
    width: 10vw;
    margin-top: 100px;
}

.login-container-main{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

.login-container{
    height: 550px;
    width: 500px;
    border: 1px solid rgba(0, 0, 0, 0.226);
    border-radius: 5px;
    background-color: white;
    margin-top: 20vh;
    margin-right: 15vw;
}

.toggle-button{
    margin: 10px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.226);
    height: 50px;
    font-family: 'OakBearFont';
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.toggle-button:hover {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.068);
}

.info-login{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    font-family: 'OakBearFont';
    color: rgb(0, 0, 0);
    font-size: 30px;
    height: 30px;
}

.login-container-tab{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-submit{
    margin: 30px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.226);
    height: 50px;
    font-family: 'OakBearFont';
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.login-submit:hover {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.068);
}

.info-fill{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    width: 300px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    height: 25px;
}

.gender-selections{
    width: 300px;
    height: 30px;
    font-family: 'OakBearFont';
}
