@font-face {
    font-family: 'Bold';
    src: url(../Fonts/Lovelo\ Black.otf) format('opentype');
}

@font-face {
    font-family: 'Chuck';
    src: url('../Fonts/Chuck\ Noon.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

.question-1{
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.active, .toggle-button:hover {
    background-color: #996515;
    color: white;
    box-shadow: 0 0 30px #0000003d;
}

.sellform-container{
    text-align: center;
}

.sellform-button{
    text-align: center;
}