@font-face {
    font-family: 'Bold';
    src: url(../Fonts/Lovelo\ Black.otf) format('opentype');
}

@font-face {
    font-family: 'Chuck';
    src: url('../Fonts/Chuck\ Noon.ttf') format('truetype');
}

.question-1{
    font-family: 'Chuck';
    text-align: center;
}

.active, .toggle-button:hover {
    background-color: rgb(156, 156, 156);
    color: white;
    box-shadow: 0 0 30px #0000003d;
}

.sellform-container{
    text-align: center;
}

.sellform-button{
    text-align: center;
}