@font-face {
    font-family: 'Bold';
    src: url(../Fonts/Lovelo\ Black.otf) format('opentype');
}

.categoriesbar-container {
    flex-direction: row;
    width: 100%;
    font-family: 'Bold';
    text-decoration: none;
    margin-left: 8%;
    margin-bottom: 5%;
}

.category-area {
    display: flex;
    width: 88%;
    font-family: 'Bold';
    text-decoration: none;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

.category-options{
    text-decoration: none;
    color: black;
    font-size: 22px;
    color: inherit;
    text-decoration: line-through 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
}