@font-face {
    font-family: 'Chuck';
    src: url(../Fonts/Chuck\ Noon.ttf) format('truetype');
}

.categoriesbar-container {
    flex-direction: row;
    width: 84%;
    font-family: 'Chuck';
    text-decoration: none;
    margin: 0 8% 2% 8%;
}

.category-area {
    display: flex;
    font-family: 'Chuck';
    text-decoration: none;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

.category-options{
    text-decoration: none;
    color: black;
    font-family: 'Chuck';
    font-size: 22px;
    color: inherit;
    text-decoration: line-through 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
}