@font-face {
    font-family: 'Bold';
    src: url(../Fonts/Lovelo\ Black.otf) format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

.sell-label{
    font-family: 'Playfair Display', serif;
}

.sell-input{
    font-family: 'Playfair Display', serif;
}

.dropdown-selections{
    font-family: 'Playfair Display', serif;
    width: 30%;
    height: 35px;
    margin-bottom: 20px;
}

.file-upload{
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.file-upload::-webkit-file-upload-button{
    font-family: 'Playfair Display', serif;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.301);
}

.img-up{
    width: 200px;
    height: 200px;
    box-shadow: 0 0 30px #0000003d;
    margin-bottom: 30px;
}

.line{
    width: 40%;
    margin-bottom: 40px;
    margin-top: 20px;
}

.description-box{
    height: 100px;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.regular-input{
    width: 30%;
    height: 35px;
    margin-bottom: 20px;
}

.enhance-tag{
    font-family: 'Playfair Display', serif;
}

.para{
    font-family: 'Playfair Display', serif;
    font-size: small;
    color: rgba(82, 82, 82, 0.774);
    margin-bottom: 50px;
}
