.message-container{
    padding: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.068);
    background-color: white;
}

.error{
    background-color: transparent;
    color: red;
}

.success{
    background-color: transparent;
    color: green;
}