@font-face {
    font-family: 'Bold';
    src: url(../Fonts/Lovelo\ Black.otf) format('opentype');
}

.navbar-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Bold';
    text-decoration: none;
    background-color: white;
    height: 100px;
    margin-bottom: 100px;
    margin-top: 30px;
    padding-bottom: 30px;
}

.pfp-area{
    margin-right: 20px;
}

.nav-area{
    display: flex;
    width: 60vw;
    font-family: 'Bold';
    text-decoration: none;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.navbar-options{
    text-decoration: none;
    color: black;
    font-size: 30px;
    color: inherit;
    text-decoration: line-through 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
}

.navbar-options:hover{
    text-decoration-color: rgb(0, 0, 0);
}

.login-area{
    font-family: 'Bold';
    padding: 10px;
    width: 200px;
    margin-left: 20px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.418);
}

.login-area:hover{
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.068);
}

.bear-icon{
    display: flex;
    align-items: center;
    height: 100px;
}