@font-face {
    font-family: 'Bold';
    src: url(../Fonts/Lovelo\ Black.otf) format('opentype');
}

@font-face {
    font-family: 'Chuck';
    src: url(../Fonts/Chuck\ Noon.ttf) format('truetype');
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

.navbar-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    background-color: white;
    height: 110px;
    margin-bottom: 50px;
    box-shadow: 0 0 30px #0000003d;
}

.navbar-options{
    font-family: 'Playfair Display', serif;
    color: inherit;
    font-size: 20px;
    text-decoration: underline 0.15em rgb(255, 255, 255);
    transition: text-decoration-color 300ms;
}

.pfp-area{
    margin-right: 20px;
}

.nav-area{
    display: flex;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}


.sellcart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart-container {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

.login-area{
    font-family: 'Playfair Display', serif;
    padding: 10px;
    width: 200px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.418);
}

.login-area:hover{
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.068);
}

.bear-icon{
    margin-right: 218px;
    height: 85px;
    width: 171px;
}

.navbar-options:hover {
    text-decoration-color: rgba(0, 0, 0, 0.288);
}
